<!DOCTYPE html>
<html>
<head>
	<title>Event Registration</title>
<script src = "js/angular.min.js"></script>
<script src = "js/app.js"></script>
<link rel="stylesheet" href="css/AllEventStyle.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>    
<a class = "btn btn-default" href="index.html"><font color='blue'>Event Registration Page</font></a>
<a class = "btn btn-default" href="SearchEvents.html"><font color='blue'>Search Your Favorite Event</font></a>
<body ng-app = "AuthorApp">
	<div ng-controller="AuthorController">
	<!-- {{authors}} -->
	<h1>All Your Events Just Here</h1>
        
	
	<table border = "1">
        <tr>
            <td id="td1"><font size="5">Event Name</font></td>
            <td id="td1"><font size="5">Event Location</font></td>
            <td id="td1"><font size="5">Event Date</font></td>
            <td id="td1"><font size="5">Event Host</font></td>
            <td id="td1"><font size="5">Artists</font></td>
            <td id="td1"><font size="5">Entry Fee</font></td>
            <td id="td1"><font size="5">Age Limit</font></td>
            <td id="td1"><font size="5">Start Time</font></td>
            
        </tr>
		<tbody ng-repeat="event in events">
        <tr ng-repeat="sub in event">
			<td id="td2">{{sub.eventname}}</td>
			<td id="td2">{{sub.eventlocation}}</td>
            <td id="td2">{{sub.eventdate}}</td>
            <td id="td2">{{sub.hosted}}</td>
            <td id="td2">{{sub.artists}}</td>
            <td id="td2">{{sub.entryfee}}</td>
            <td id="td2">{{sub.agelimit}}</td>
            <td id="td2">{{sub.starttime}}</td>          
		</tr>
        </tbody>
	</table> 
<!--	<{{events}}-->
	
 	 
	</div>

</body>
</html>
